@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      grid-template-columns: repeat(auto-fill, minmax(700px))
    &__image
      width: 480px
    &-offer
      margin-bottom: 86px
    &-cards
      &__offer
        margin-bottom: 24px
      &__label
        position: absolute
        padding: 8px 22px 7px 10px
        margin-top: 26px
        margin-left: 0px
        background-color: $primary
        color: $light
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 15px 
        border-radius: 0px 4px 4px 0px
@media (max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .navbar-buttom
    .container
      max-width: 673px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 22px
      padding-bottom: 23px
      &__item
        line-height: 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
        width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
  .map
    width: 340px
  .newsletter
    padding: 72px 0 72px 0
  .reviews
    padding-top: 14px
    &-slider
      &__item
        max-width: 580px
      &__button
        top: 54%
        &--prev
          margin-left: 0
        &--next
          margin-right: 0
    &__title
      font-size: 30px
      margin-bottom: 46px
  .activities
    padding-top: 30px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      margin-bottom: 20px
  .packages
    &-wrapper
      grid-template-columns: repeat(auto-fill, minmax(250px, 2fr))
    &__image
      width: 350px
    &-offer
      margin-bottom: 35px
    &-cards
      &__offer
        margin-bottom: 24px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu-button
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: $light
    cursor: pointer
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .stars
    flex-basis: auto
    &__item
      &-main
        margin-right: -2px
  .hotel
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      align-items: flex-start
      flex-direction: column
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px 
  .activities
    padding-top: 30px
    padding-bottom: 60px 
  .card
    width: 48%
    height: 255px
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 57px
    &-wrapper
      column-gap: 15px
      row-gap: 15px
    &__image
      width: 50%
    &-offer
      margin-bottom: 50px
    &-information
      padding: 20px 18px 37px 20px
      &__description
        margin-bottom: 36px
        font-size: 13px
    &-cards
      &__image
        width: 100%
      &__title
        margin-bottom: 20px
      &__offer
        margin-bottom: 30px
@media (max-width: 576px)
  .container
    max-width: 280px
  .logo
    width: 99px
  .hotel
    padding-top: 2px
    &-info
      padding-bottom: 35px
    &__slider
      margin-bottom: 20px
    &-right
      min-height: 402px
    &-slider
      height: 179px
      &__button
        background-size: 4px
        &--next
          right: -3px
        &--prev
          left: -3px
  .stars
    margin-right: 18px
    margin-top: 1px
  .map
    height: 172px
  .newsletter
    padding: 56px 0 84px 0
    &-wrapper
      max-width: 280px
      width: 92%
    &-title
      font-size: 21px
      margin-bottom: 33px
      &__strong
        font-size: 31px
  .subscribe
    width: 100%
    &__input
      padding-left: 19px
      padding-top: 5px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      padding-left: 10px
      padding-right: 10px
      margin-top: 26px
      margin-bottom: 42px
    &-slider
      &__button
        top: 30px
        &--next
          right: 42%
        &--prev
          left: 40%
      &__text
        text-align: left
        height: 270px
  .activities
    padding-top: 6px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .packages
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &-wrapper
      grid-template-columns: 1fr
      column-gap: 0px
    &-card
      flex-direction: column
    &__image
      width: 100%
      height: 250px
    &-cards
      &__image
        width: 100%
    &-information
      &__rating, &__description
        display: none
    &-offer
      margin-bottom: 24px
iframe
  width: 100%
  height: 100%
  border: 0
  